
.navigation {
    padding: 25px;
    margin: 50px;
    font-size: 25px;
    border-bottom: 2px solid rgb(155, 113, 155);
    color: rgb(97, 48, 143);
}

.navigation__link {
    margin: 20px;
    text-decoration: none;
    padding-bottom: 3px;
    color: rgb(97, 48, 143);
}

.navigation__link:hover {
    border-bottom: 1px solid;
    outline: none;
    color: rgb(207, 5, 5);
}

.navigation__flexContainer {
    list-style-type: none;
    display: flex;
    flex-low: row wrap;
    justify-content: space-around;
}