/* global styles */

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgba(231, 229, 229, 0.925);
    font-family: "Signika", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

/* header styles */

.header {
    margin: 30px;
    font-size: 30px;
    text-align: center;
    color: rgb(97, 48, 143);
}

.header__paragraph {
    margin: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}

.changeColor {
    font-family: "Signika", sans-serif;
    box-shadow: 0px 0px 5px 2px #c685cc;
    font-size: 15px;
}

/* navigation styles */

.navigation {
    padding: 25px;
    margin: 50px;
    font-size: 25px;
    text-align: center;
    border-bottom: 2px solid rgb(155, 113, 155);
    color: rgb(97, 48, 143);
}

.navigation__link {
    margin: 20px;
    text-decoration: none;
    padding-bottom: 3px;
    color: rgb(97, 48, 143);
}

.navigation__link:hover {
    border-bottom: 1px solid;
    outline: none;
    color: rgb(207, 5, 5);
}

.navigation__list {
    list-style-type: none;
    padding-left: 0px;
}

/* section styles */

.section {
    padding: 30px 20px;
}

.section__header {
    margin: 20px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    color: rgb(97, 48, 143);
}

.section__header--special {
    margin: 20px;
    font-size: 25px;
    text-align: center;
    color: rgb(97, 48, 143);
    font-weight: 500;
}

.section__paragraph {
    margin: 10px;
    font-size: 15px;
    text-align: center;
    line-height: 2;
}

.section__highlight {
    color: rgb(145, 19, 19);
}

.section__box {
    padding: 20px;
    margin: 50px;
    background-color: rgba(221, 175, 206, 0.952);
    color: rgb(39, 39, 39);
}

.section__image {
    max-width: 300px;
    width: 100%;
    border-radius: 70px;
    box-shadow: 3px 3px 10px rgba(150, 0, 0, 0.849);
    margin: 0 auto;
    display: block;
}

.section__link {
    text-decoration: none;
    color: rgb(97, 48, 143);
}

.section__link:hover {
    color: rgb(144, 88, 197);
    border-bottom: 1px solid;
}

.showHidden {
    font-family: "Signika", sans-serif;
    box-shadow: 0px 0px 5px 2px #c685cc;
}

.section__hidden {
    visibility: hidden;
    text-align: center;
}

/* table styles */

.tableContainer {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table__cell {
    border: 2px solid rgb(110, 77, 77);
    padding: 40px;
    text-align: center;
    font-weight: 700;
}

.table__header {
    background-color: rgb(189, 149, 194);
    color: ivory;
}

.table__row:hover {
    background-color: rgb(243, 226, 226);
}

.table__caption {
    caption-side: bottom;
    text-align: right;
    margin-top: 10px;
}

/* footer styles */

.footer {
    margin: 10px;
    font-size: 15px;
    text-align: center;
    line-height: 2;
}